
.poll-card{
    background-color: rgba(255, 255, 255, 0.685);
    height: 600px;
    border-radius: 16px;
    padding: 10px;
}
.poll-card .top{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.poll-card .cards-cont{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 520px;
    scrollbar-width: none;
}
.card{
    width: 260px;
    height: 200px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 18px;
    margin: 5px;
    background-color: rgba(200, 249, 255, 0.415);
}
.card-btn{
    width: 50%;
}
input{
    padding: 8px;
    border: 2px solid rgb(52, 6, 96);
    outline: none;
    width: 25%;
    border-radius: 32px;
}

button , .add{
    padding: 8px;
    border-radius: 16px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    width: 10%;
}
.details-bg{
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-y: auto;
}
.details-card{
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    padding: 25px;
    border-radius: 16px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.details-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    height: 40px;
    padding-bottom: 15px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.9rem;
    padding: 10px;
    resize: none;
}
.create-btn{
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    background-color: blueviolet;
    color: white;
}
.opts{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.user-options{
    padding-left: 20px;
    border-radius: 8px;
    width: 100%;
    background-color: whitesmoke;
    margin: 5px;
    max-height: 100px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.add{
    background-color: blueviolet;
    border-radius: 8px;
    margin-left: 5px;
    color: white;
}

.option-field{
    width: 90%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

@media (max-width: 950px){
    .login-cont{
        width: 90%;
        text-align: center;
    }
    form{
        width: 90%;
    }
    .card{
        width: 100%;
    }
    .create-btn1{
        width: 20%;
    }
    .details-card{
        position: absolute;
        background-color: #ffffff;
        width: 90%;
        padding: 25px;
        border-radius: 16px;
        /* display: flex;
        flex-direction: column;
        justify-content: space-around; */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    .create-btn{
        width: 100%;
    }
    form{
        width: 100%;
    }
}